@{
    ViewData["Title"] = "About";
}
<h1 class="m-4 p-4"></h1>


<div class="container">
    <h4>@ViewData["Title"]</h4>

    <strong>History</strong>
    <p>
        AKA.com operates in the online booking market since 2018. We started as a small business working in an affiliate car rental program in
        Kosovo. Soon we realized that our customer’s needs exceeded just car booking in Kosovo so we started to offer this service also in
        other countries. We created a platform that would not only allow our clients to book a car, but to make this process as easy as
        possible allowing our clients to choose their most suitable car rental plan. Today AKA.com takes the leading positions in Europe’s
        Internet booking market with a wide range of services as well as our service are now available in more than 50 countries.
        At the moment AKA.com has more than 55 employees each of whom is a professional in their own field. For number of years most of
        our employees have worked in various distribution companies in Kosovo, United States, Britain, Spain and Germany and therefore
        have the right knowledge and experience to satisfy clients ever growing needs. We are constantly developing and we will certainly
        surprise our competitors by developing new IT projects in various fields of online tourism. We believe that our work brings positive
        benefits to our customers and a pleasure of working with us.
    </p>
    <strong>Philosophy</strong>
    <p>
        Our company's philosophy is to facilitate our customers to book car rental service anywhere in the world while our motto is
        – ‘’Providing quality service at an affordable price’’. Every day our analyst's tasks are to monitor prices plans of our co-operating
        agencies around the world as a result we can always guarantee very competitive prices and a high level of customer service.
        Our company has at least 3-4 Car Rental service providers in each destination. This allows for competition and higher customer
        care also providing healthier competition and better level of customer satisfaction.
    </p>
    <strong>Our company policy</strong>
    <p>
        Our company’s policy is this: we are with the customer during the booking process, before and after the car rental lease.
        Our clients can always feel safe as all issues related to reservations will be assisted by our specialists that will be there to
        help to solve any issue and provide extensive car rental experience. Our company’ s home page is designed so that our clients receive
        the maximum information about future car rental. Please note that we have an active call-center and all the questions you
        might have will be answered over the phone should you not find an answer on our home page. We offer and ask our customers
        to call us direct over our phone number where our operators will know all of the answers to all of your questions.
    </p>
    <img src="~/images/aboutusimg.jpg" class="img-fluid" alt="Responsive image" />
</div>
<h1 class="m-4 p-4"></h1>
<h1 class="m-4 p-4"></h1>
