@{
    ViewData["Title"] = "Contact";
}


<div class="container mb-5 mt-5">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <address class="text-center">
        Str. Deshmoret e Kombit<br />
        Ferizaj, 70000, Kosovo<br />
        <abbr title="Phone">P:</abbr>
        044.700.800
    </address>

    <address class="text-center">
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@AKA.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@AKA.com</a>
    </address>
    <iframe class="col map-responsive" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d752295.1388089178!2d20.341772715625!3d42.56266295000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1545740891334" frameborder="0"  allowfullscreen></iframe>
</div>
<h1 class="m-4 p-4"></h1>
<h1 class="m-4 p-4"></h1>
<h1 class="m-4 p-4"></h1>
<h1 class="m-4 p-4"></h1>