@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <header class="text-center p-5 m-5">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>
<div class="text-center p-5 m-5"></div>
<div class="text-center p-5 m-5"></div>

