@using RentaCar.Util
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentaCar</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="nav-side-menu">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="text-light nav-link"><div class="brand" > Rent a Car&#8594;</div></a>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                @if (User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-area="Admin" asp-controller="AutoSallons" asp-action="Index">
                            <i class="fa fa-dashboard fa-lg"></i> Monumente
                        </a>
                    </li>
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Admin"))
                {
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a asp-area="Admin" asp-controller="Cars" asp-action="Index"><i class="fa fa-car fa-lg"></i> Cars </a>
                    </li>
                }
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fa fa-user fa-lg"></i> Profile
                    </a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
                            <i class="fa fa-users fa-lg"></i> Users
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12">
                <h4> @RenderBody()</h4>
            </div>
        </div>s
    </div>




   



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
